.section {
    padding: 30rem 15rem;

    @include from-desktop {
        &.is-medium {
            padding: 90rem 15rem;
        }

        &.is-large {
            padding: 180rem 15rem;
        }
    }
}
