.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f2f5f6;
}

@include to-mobile {
    .login {
        padding: 0 18rem;
    }
}