.message {
    background-color: $background;
    font-size: $size-normal;

    @include block;

    strong {
        color: currentColor;
    }

    a {
        &:not(.button) {
            &:not(.tag) {
                &:not(.dropdown-item) {
                    color: currentColor;
                    text-decoration: underline;
                }
            }
        }
    }

    &.is-small {
        font-size: $size-small;
    }

    &.is-medium {
        font-size: $size-medium;
    }

    &.is-large {
        font-size: $size-large;
    }

    @each $name, $components in $colors {
        $color: nth($components, 1);
        $color-invert: nth($components, 2);
        $color-light: null;
        $color-dark: null;

        @if length($components) >= 3 {
            $color-light: nth($components, 3);

            @if length($components) >= 4 {
                $color-dark: nth($components, 4);
            } @else {
                $color-luminance: colorLuminance($color);
                $darken-percentage: $color-luminance * 70%;
                $desaturate-percentage: $color-luminance * 30%;
                $color-dark: desaturate(
                    darken($color, $darken-percentage),
                    $desaturate-percentage
                );
            }
        } @else {
            $color-lightning: max(100% - lightness($color) - 2%, 0%);
            $color-light: lighten($color, $color-lightning);
        }

        &.is-#{$name} {
            background-color: $color-light;

            .message-header {
                background-color: $color;
                color: $color-invert;
            }

            .message-body {
                border-color: $color;
                color: $color-dark;
            }
        }
    }
}

.message-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-radius: $radius $radius 0 0;
    padding: 0.75em 1em;
    background-color: $gray_10;
    color: $text;
    font-weight: $weight-bold;
    line-height: 1.25;

    .delete {
        flex: none;
        margin-left: 0.75em;
    }

    + .message-body {
        border-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.message-body {
    border-width: 0 0 0 4rem;
    border-style: solid;
    border-color: $border;
    border-radius: $radius;
    padding: 1.25em 1.5em;
    color: $text;

    code,
    pre {
        background-color: $scheme-main;
    }

    pre {
        code {
            background-color: transparent;
        }
    }
}
