.tabs {
    @include overflow-touch;
    display: flex;
    user-select: none;

    ul {
        // flex: 1 0;
        display: flex;
        // align-items: center;
        // justify-content: flex-start;
        // border-bottom: 1rem solid #d5d5d5;

        &.is-left {
            padding-right: 0.75em;
        }

        &.is-center {
            flex: none;
            justify-content: center;
            padding-left: 0.75em;
            padding-right: 0.75em;
        }

        &.is-right {
            justify-content: flex-end;
            padding-left: 0.75em;
        }
    }

    .tab-link {
        position: relative;
        height: 29rem;
        color: #8e8e8e;
    }

    &.is-menu {
        .tab {
            flex: 1 0%;
            padding-bottom: 35rem;
            height: 33rem;

            &.is-active {
                &::after {
                    bottom: -5rem;
                    border-radius: 3rem;
                }
            }

            &:not(:first-child) {
                a {
                    font-weight: 400;
                }
            }
        }

        .tab-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7rem 0;
            color: #b4b4b4;
        }
    }

    &.is-centered {
        ul {
            justify-content: center;
        }
    }

    &.is-right {
        ul {
            justify-content: flex-end;
        }
    }

    &.is-boxed {
        a {
            @include ltr {
                border-radius: $radius $radius 0 0;
            }

            @include rtl {
                border-radius: 0 0 $radius $radius;
            }

            border: 1rem solid transparent;

            &:hover {
                border-bottom-color: $border;
                background-color: $background;
            }
        }

        li {
            &.is-active {
                a {
                    border-color: $border;
                    border-bottom-color: transparent !important;
                    background-color: $scheme-main;
                }
            }
        }
    }

    &.is-boxed-fully {
        a {
            border-top: 1rem solid #e5e5e5;
            border-left: 1rem solid #e5e5e5;
            border-right: 1rem solid #e5e5e5;
            border-bottom: 1rem solid #707070;
            padding: 0.7em 1.85em;
        }

        li {
            &.is-active {
                a {
                    border: 1rem solid #707070;
                }
            }
        }
    }

    &.is-fullwidth {
        li {
            flex: 1 0 0;
        }
    }

    &.is-toggle {
        a {
            position: relative;
            margin-bottom: 0;
            border-width: 1rem;
            border-style: solid;
            border-color: $border;

            &:hover {
                z-index: 2;
                border-color: $border-hover;
                background-color: $background;
            }
        }

        li {
            + li {
                margin-left: -1rem;
            }

            &:first-child {
                a {
                    @include ltr {
                        border-top-left-radius: $radius;
                        border-bottom-left-radius: $radius;
                    }

                    @include rtl {
                        border-top-right-radius: $radius;
                        border-bottom-right-radius: $radius;
                    }
                }
            }

            &:last-child {
                a {
                    @include ltr {
                        border-top-right-radius: $radius;
                        border-bottom-right-radius: $radius;
                    }

                    @include rtl {
                        border-top-left-radius: $radius;
                        border-bottom-left-radius: $radius;
                    }
                }
            }

            &.is-active {
                a {
                    z-index: 1;
                    border-color: $link;
                    background-color: $link;
                    color: $link-invert;
                }
            }
        }

        ul {
            border-bottom: none;
        }

        &.is-toggle-rounded {
            li {
                &:first-child {
                    a {
                        @include ltr {
                            border-top-left-radius: 50%;
                            border-bottom-left-radius: 50%;
                            padding-left: 1.25em;
                        }

                        @include rtl {
                            border-top-right-radius: 50%;
                            border-bottom-right-radius: 50%;
                            padding-right: 1.25em;
                        }
                    }
                }

                &:last-child {
                    a {
                        @include ltr {
                            border-top-right-radius: 50%;
                            border-bottom-right-radius: 50%;
                            padding-right: 1.25em;
                        }

                        @include rtl {
                            border-top-left-radius: 50%;
                            border-bottom-left-radius: 50%;
                            padding-left: 1.25em;
                        }
                    }
                }
            }
        }
    }

    &.is-menu {
        padding: 0 15rem;
        font-size: 15rem;
        font-weight: 600;
        line-height: 18rem;
    }

    &.is-mdi {
        font-size: 16rem;
        line-height: 19rem;

        .tab {
            &:last-child {
                border-right: 1rem solid #dbdbdb;
            }
        }
    }

    &.is-small {
        font-size: $size-small;
    }

    &.is-medium {
        font-size: $size-medium;
    }

    &.is-large {
        font-size: $size-large;
    }
}

.tab {
    position: relative;
    font-size: 14rem;
    font-weight: 500;
    line-height: 17rem;

    .icon {
        &:first-child {
            &:not(:last-child) {
                margin-right: 10rem;
            }
        }

        &:last-child {
            &:not(:first-child) {
                margin-left: 0.5em;
            }
        }
    }

    &:last-child {
        a {
            margin-right: 0;
        }
    }

    &:not(:last-child) {
        margin-right: 24rem;
    }

    &.is-active {
        font-weight: 600;

        .tab-link {
            color: #151515;
        }

        + li {
            border-left-color: #333;
        }
    }

    fieldset[disabled] &,
    &[disabled] {
        color: #cacaca;
    }

    &.is-mdi {
        margin: -1rem;
        border: 1rem solid #e6e6e6;
        background-color: white;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
            display: flex;
            align-items: center;
            position: relative;            
            padding: 0 46rem 0 25rem;
            height: 40rem;
            color: #b4b4b4;
        }

        &:hover {
            .icon {
                &.is-close {
                    stroke: #151515;
                }
            }
        }

        &:not(.is-active) {
            &:hover {
                border-bottom-color: #dbdbdb;
                background-color: #dde4f2;
            }
        }

        &.is-active {
            &::before {
                content: "";
                position: absolute;
                top: -6rem;
                left: 0;
                right: 0;
                bottom: 0;
                border-top-left-radius: 5rem;
                border-top-right-radius: 5rem;
                background-color: #151515;
            }
            
            a {
                color: white;
            }

            .button {
                .icon {
                    &.is-close {
                        stroke: white;
                    }
                }
            }

            &:not(:last-child) {
                &:not(.is-last) {
                    &::before {
                        right: 1rem;
                    }
                }
            }
        }
    }

    &:not(.is-mdi){
        &.is-active {
            .icon {
                fill: black;
            }
    
            &::after {
                content: "";
                position: absolute;
                bottom: 0rem;
                left: 0;
                right: 0;
                height: 2rem;
                background-color: #151515;
            }
        }
    }

    &.is-active {
        .tab-link {
            display: block;
        }
    }
}

.tab-content {
    display: none;

    &.is-mdi {
        margin-top: 31rem;
    }

    &.is-active {
        &:not(.is-grown-vertically) {
            display: block;
        }

        &.is-grown-vertically {
            display: flex;
        }
    }
}
