<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- footer content -->
    <!-- 
    <footer class="footer" th:fragment="footerFragment">
    	<p class="footer__information">문의 : smileq@smilegate.com</p>
    </footer>
     -->
    <div th:fragment="footerFragment">
    	<script src="/assets/js/ustra-utils/ustra.realgrid.js"></script>
        <script src="/assets/js/ustra-utils/ustra.realgrid.components.js"></script>
        <script src="/assets/js/ustra-utils/ustra.jquery.form.js"></script>
        <script src="/assets/js/ustra-utils/ustra.jquery.ajax.js"></script>
        <script src="/assets/js/ustra-utils/ustra.jquery.dialog.js"></script>
        <script src="/assets/js/ustra-utils/ustra.document.event.js"></script>
        <script>
            Ajax.defaults.activeDialogError = true;
            Ajax.defaults.enabledProgressBar = true;
        </script>
    </div>
    <!-- /footer content -->
</html>