@mixin typography-size($target: "") {
    @each $size in $sizes {
        $i: index($sizes, $size);

        .is-size-#{$i}#{if($target == "", "", "-" + $target)} {
            font-size: $size !important;
        }
    }
}

@include typography-size;

@include to-mobile {
    @include typography-size("mobile");
}

@include to-tablet {
    @include typography-size("tablet");
}

@include from-tablet {
    @include typography-size("tablet");
}

@include from-desktop {
    @include typography-size("desktop");
}

@include from-widescreen {
    @include typography-size("widescreen");
}

@include from-fullhd {
    @include typography-size("fullhd");
}

$alignments: (
    "center": "center",
    "justified": "justify",
    "left": "left",
    "right": "right"
);

@each $alignment, $text-align in $alignments {
    .has-text-#{$alignment} {
        text-align: #{$text-align} !important;
    }
}

@each $alignment, $text-align in $alignments {
    @include to-mobile {
        .has-text-#{$alignment}-mobile {
            text-align: #{$text-align} !important;
        }
    }
    @include from-tablet {
        .has-text-#{$alignment}-tablet {
            text-align: #{$text-align} !important;
        }
    }
    @include tablet {
        .has-text-#{$alignment}-tablet-only {
            text-align: #{$text-align} !important;
        }
    }
    @include to-tablet {
        .has-text-#{$alignment}-tablet {
            text-align: #{$text-align} !important;
        }
    }
    @include from-desktop {
        .has-text-#{$alignment}-desktop {
            text-align: #{$text-align} !important;
        }
    }
    @include desktop {
        .has-text-#{$alignment}-desktop-only {
            text-align: #{$text-align} !important;
        }
    }
    @include from-widescreen {
        .has-text-#{$alignment}-widescreen {
            text-align: #{$text-align} !important;
        }
    }
    @include widescreen {
        .has-text-#{$alignment}-widescreen-only {
            text-align: #{$text-align} !important;
        }
    }
    @include from-fullhd {
        .has-text-#{$alignment}-fullhd {
            text-align: #{$text-align} !important;
        }
    }
}

.is-capitalized {
    text-transform: capitalize !important;
}

.is-lowercase {
    text-transform: lowercase !important;
}

.is-uppercase {
    text-transform: uppercase !important;
}

.is-italic {
    font-style: italic !important;
}

.has-text-weight-light {
    font-weight: $weight-light !important;
}

.has-text-weight-normal {
    font-weight: $weight-normal !important;
}

.has-text-weight-medium {
    font-weight: $weight-medium !important;
}

.has-text-weight-semibold {
    font-weight: $weight-semibold !important;
}

.has-text-weight-bold {
    font-weight: $weight-bold !important;
}

.is-family-primary {
    font-family: $body-font-family !important;
}

.is-family-secondary {
    font-family: $family-secondary !important;
}

.is-family-sans-serif {
    font-family: $body-font-family !important;
}

.is-family-monospace {
    font-family: $family-monospace !important;
}

.is-family-code {
    font-family: $family-code !important;
}

.label_01,
.helper-text_01 {
    font-size: $size-1;
    font-weight: $weight-medium;
    line-height: $height-1;

    &.is-error {
        color: $red_60;
    }
}

.body_01_short {
    font-size: $size-2;
    font-weight: $weight-normal;
    line-height: $height-2;
}

.body_01_long {
    font-size: $size-2;
    font-weight: $weight-normal;
    line-height: 12.5rem;
}

.body_02_short {
    font-size: $size-3;
    font-weight: $weight-normal;
    line-height: $height-3;
}

.body_02_long {
    font-size: $size-3;
    font-weight: $weight-normal;
    line-height: 15rem;
}

@for $i from 2 through 8 {
    .heading_0#{$i - 1} {
        font-size: nth($sizes, $i);
        line-height: nth($heights, $i);

        @if $i <= 3 {
            font-weight: $weight-medium;
        } @else if $i <= 5 {
            font-weight: $weight-normal;
        } @else {
            font-weight: $weight-light;
        }
    }
}

.is-required {
    display: inline-block;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 2rem);
        left: -10rem;
        transform: translateY(-50%);
        width: 6rem;
        height: 6rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cg transform='translate(0 -7.513)'%3E%3Crect width='6' height='6' transform='translate(0 7.513)' fill='none'/%3E%3Cpath d='M-1.084-6,.142-7.433,1.368-6l.768-.561-.96-1.61L2.845-8.88l-.3-.9L.777-9.368.614-11.214h-.96L-.508-9.353l-1.772-.428-.3.9,1.669.709-.945,1.61Z' transform='translate(3 19)' fill='%23ff1e1e'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
    }
}

.is-pre-wrap {
    white-space: pre-wrap !important;
}

.is-float-right {
    float: right !important;
}


.is-new {
    position: relative;

    &::after {
        content: "N";
        position: absolute;
        top: 50%;
        right: -22rem;
        transform: translateY(-50%);
        border-radius: 3rem;
        padding: 0rem 3rem;
        background-color: #f8f1f1;
        font-size: 11rem;
        line-height: 14rem;
        color: #d40000;
    }
}
