.mt-0 {
  margin-top: 0 !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-5 {
  margin-top: 5rem !important;
}
.mt-10 {
  margin-top: 10rem !important;
}
.mt-15 {
  margin-top: 15rem !important;
}
.mt-20 {
  margin-top: 20rem !important;
}
.mt-25 {
  margin-top: 25rem !important;
}
.mt-30 {
  margin-top: 30rem !important;
}
.mt-35 {
  margin-top: 35rem !important;
}
.mt-40 {
  margin-top: 40rem !important;
}
.mt-45 {
  margin-top: 45rem !important;
}
.mt-50 {
  margin-top: 50rem !important;
}
.mt-55 {
  margin-top: 55rem !important;
}
.mt-60 {
  margin-top: 60rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
.mb-10 {
  margin-bottom: 10rem !important;
}
.mb-15 {
  margin-bottom: 15rem !important;
}
.mb-20 {
  margin-bottom: 20rem !important;
}
.mb-25 {
  margin-bottom: 25rem !important;
}
.mb-30 {
  margin-bottom: 30rem !important;
}
.mb-35 {
  margin-bottom: 35rem !important;
}
.mb-40 {
  margin-bottom: 40rem !important;
}
.mb-45 {
  margin-bottom: 45rem !important;
}
.mb-50 {
  margin-bottom: 50rem !important;
}
.mb-55 {
  margin-bottom: 55rem !important;
}
.mb-60 {
  margin-bottom: 60rem !important;
}
.mb-70 {
  margin-bottom: 70rem !important;
}
.mb-75{
  margin-bottom: 75rem !important;
}
.mb-100{
  margin-bottom: 100rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.ml-5 {
  margin-left: 5rem !important;
}
.ml-10 {
  margin-left: 10rem !important;
}
.ml-15 {
  margin-left: 15rem !important;
}
.ml-20 {
  margin-left: 20rem !important;
}
.ml-25 {
  margin-left: 25rem !important;
}
.ml-30 {
  margin-left: 30rem !important;
}
.ml-35 {
  margin-left: 35rem !important;
}
.ml-40 {
  margin-left: 40rem !important;
}
.ml-45 {
  margin-left: 45rem !important;
}
.ml-50 {
  margin-left: 50rem !important;
}
.ml-55 {
  margin-left: 55rem !important;
}
.ml-60 {
  margin-left: 60rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mr-5 {
  margin-right: 5rem !important;
}
.mr-10 {
  margin-right: 10rem !important;
}
.mr-15 {
  margin-right: 15rem !important;
}
.mr-20 {
  margin-right: 20rem !important;
}
.mr-25 {
  margin-right: 25rem !important;
}
.mr-30 {
  margin-right: 30rem !important;
}
.mr-35 {
  margin-right: 35rem !important;
}
.mr-40 {
  margin-right: 40rem !important;
}
.mr-45 {
  margin-right: 45rem !important;
}
.mr-50 {
  margin-right: 50rem !important;
}
.mr-55 {
  margin-right: 55rem !important;
}
.mr-60 {
  margin-right: 60rem !important;
}
