.tui-pagination {
  height: 38rem;
  margin-top: 20rem;
  text-align: center;
  .tui-page-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
    height: 38rem;
    border: 1rem solid #fff;
    margin: 0 5rem;
    font-size: 15rem;
    color: #979797;
    vertical-align: middle;
    transition: all 0.3s;
    &:hover,
    &:focus {
      color: #373737;
    }
    &.tui-is-selected {
      border-radius: 4rem;
      border-color: #ED5D2A;
      background-color: #FFF1DC;
      color: #ED5D2A;
      font-weight: 700;
    }
    &.tui-is-disabled {
      color: #D4D4D4;
    }
  }

  .tui-prev,
  .tui-next {
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  .tui-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0715587 5.8087C0.0715587 5.90037 0.0868366 5.9844 0.117392 6.06079C0.147948 6.13717 0.201419 6.21356 0.277808 6.28995L4.81531 10.8275C4.93753 10.9497 5.10177 11.007 5.30802 10.9993C5.51427 10.9917 5.6785 10.9268 5.80072 10.8045C5.9535 10.6518 6.01843 10.4875 5.99552 10.3118C5.9726 10.1361 5.90003 9.97954 5.77781 9.84204L1.74448 5.8087L5.77781 1.77537C5.90003 1.65315 5.96878 1.48891 5.98406 1.28266C5.99934 1.07641 5.93059 0.912175 5.77781 0.789952C5.65559 0.637174 5.49517 0.572244 5.29656 0.595161C5.09795 0.618078 4.92989 0.690647 4.79239 0.812869L0.277808 5.32745C0.201419 5.40384 0.147948 5.48023 0.117392 5.55662C0.0868366 5.63301 0.0715587 5.71704 0.0715587 5.8087Z' fill='%23B3B3B3'/%3E%3C/svg%3E%0A");
    &:hover,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0715587 5.8087C0.0715587 5.90037 0.0868366 5.9844 0.117392 6.06078C0.147948 6.13717 0.201419 6.21356 0.277808 6.28995L4.81531 10.8275C4.93753 10.9497 5.10177 11.007 5.30802 10.9993C5.51427 10.9917 5.6785 10.9268 5.80072 10.8045C5.9535 10.6518 6.01843 10.4875 5.99552 10.3118C5.9726 10.1361 5.90003 9.97953 5.77781 9.84203L1.74448 5.8087L5.77781 1.77537C5.90003 1.65315 5.96878 1.48891 5.98406 1.28266C5.99934 1.07641 5.93059 0.912173 5.77781 0.78995C5.65559 0.637173 5.49517 0.572243 5.29656 0.595159C5.09795 0.618076 4.92989 0.690645 4.79239 0.812867L0.277808 5.32745C0.201419 5.40384 0.147948 5.48023 0.117392 5.55662C0.0868366 5.63301 0.0715587 5.71703 0.0715587 5.8087Z' fill='%23373737'/%3E%3C/svg%3E%0A");
    }
    &.tui-is-disabled {
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0715587 5.8087C0.0715587 5.90037 0.0868366 5.9844 0.117392 6.06078C0.147948 6.13717 0.201419 6.21356 0.277808 6.28995L4.81531 10.8275C4.93753 10.9497 5.10177 11.007 5.30802 10.9993C5.51427 10.9917 5.6785 10.9268 5.80072 10.8045C5.9535 10.6518 6.01843 10.4875 5.99552 10.3118C5.9726 10.1361 5.90003 9.97953 5.77781 9.84203L1.74448 5.8087L5.77781 1.77537C5.90003 1.65315 5.96878 1.48891 5.98406 1.28266C5.99934 1.07641 5.93059 0.912173 5.77781 0.78995C5.65559 0.637173 5.49517 0.572243 5.29656 0.595159C5.09795 0.618076 4.92989 0.690645 4.79239 0.812867L0.277808 5.32745C0.201419 5.40384 0.147948 5.48023 0.117392 5.55662C0.0868366 5.63301 0.0715587 5.71703 0.0715587 5.8087Z' fill='%23DEDEDE'/%3E%3C/svg%3E%0A");
    }
  }
  .tui-next {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.92844 5.8087C5.92844 5.90037 5.91316 5.9844 5.88261 6.06079C5.85205 6.13717 5.79858 6.21356 5.72219 6.28995L1.18469 10.8275C1.06247 10.9497 0.898234 11.007 0.691984 10.9993C0.485734 10.9917 0.321497 10.9268 0.199275 10.8045C0.0464972 10.6518 -0.018433 10.4875 0.00448368 10.3118C0.0274003 10.1361 0.0999699 9.97954 0.222192 9.84204L4.25552 5.8087L0.222192 1.77537C0.0999696 1.65315 0.0312192 1.48891 0.0159414 1.28266C0.000663659 1.07641 0.069414 0.912175 0.222192 0.789952C0.344414 0.637174 0.50483 0.572244 0.703441 0.595161C0.902052 0.618078 1.07011 0.690647 1.20761 0.812869L5.72219 5.32745C5.79858 5.40384 5.85205 5.48023 5.88261 5.55662C5.91316 5.63301 5.92844 5.71704 5.92844 5.8087Z' fill='%23B3B3B3'/%3E%3C/svg%3E%0A");
    &:hover,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.92844 5.8087C5.92844 5.90037 5.91316 5.9844 5.88261 6.06078C5.85205 6.13717 5.79858 6.21356 5.72219 6.28995L1.18469 10.8275C1.06247 10.9497 0.898234 11.007 0.691984 10.9993C0.485734 10.9917 0.321497 10.9268 0.199275 10.8045C0.0464972 10.6518 -0.018433 10.4875 0.00448368 10.3118C0.0274003 10.1361 0.0999699 9.97953 0.222192 9.84203L4.25552 5.8087L0.222192 1.77537C0.0999696 1.65315 0.0312192 1.48891 0.0159414 1.28266C0.000663659 1.07641 0.069414 0.912173 0.222192 0.78995C0.344414 0.637173 0.50483 0.572243 0.703441 0.595159C0.902052 0.618076 1.07011 0.690645 1.20761 0.812867L5.72219 5.32745C5.79858 5.40384 5.85205 5.48023 5.88261 5.55662C5.91316 5.63301 5.92844 5.71703 5.92844 5.8087Z' fill='%23373737'/%3E%3C/svg%3E%0A");
    }
    &.tui-is-disabled {
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.92844 5.8087C5.92844 5.90037 5.91316 5.9844 5.88261 6.06078C5.85205 6.13717 5.79858 6.21356 5.72219 6.28995L1.18469 10.8275C1.06247 10.9497 0.898234 11.007 0.691984 10.9993C0.485734 10.9917 0.321497 10.9268 0.199275 10.8045C0.0464972 10.6518 -0.018433 10.4875 0.00448368 10.3118C0.0274003 10.1361 0.0999699 9.97953 0.222192 9.84203L4.25552 5.8087L0.222192 1.77537C0.0999696 1.65315 0.0312192 1.48891 0.0159414 1.28266C0.000663659 1.07641 0.069414 0.912173 0.222192 0.78995C0.344414 0.637173 0.50483 0.572243 0.703441 0.595159C0.902052 0.618076 1.07011 0.690645 1.20761 0.812867L5.72219 5.32745C5.79858 5.40384 5.85205 5.48023 5.88261 5.55662C5.91316 5.63301 5.92844 5.71703 5.92844 5.8087Z' fill='%23DEDEDE'/%3E%3C/svg%3E%0A");
    }
  }

  .tui-first,
  .tui-last,
  .tui-prev-is-ellip,
  .tui-next-is-ellip,
  .tui-next-is-ellip {
    display: none;
  }
}
