
.tabWrap{
  .tab__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .tab__item{
      position: relative;
      a,span{
        display: block;
        background: #FAF4EB;
        border: 2px solid #FB8A62;
        border-radius: 26rem;
        font-weight: $font-weight-semi-bold;
        font-size: 20rem;
        color: #FB8A62;
        line-height: 56rem;
        text-align: center;
        transition: all .4s;
      }
      &:not(:last-child){
        a:after,span:after{
          position: absolute;
          top: 50%;
          width: 24rem;
          height: 24rem;
          transform: translateY(-50%);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.60022 21.525C6.33355 21.2417 6.19605 20.9083 6.18772 20.525C6.17938 20.1417 6.31688 19.8083 6.60022 19.525L14.1752 11.95L6.60022 4.37499C6.33355 4.10832 6.19188 3.77916 6.17522 3.38749C6.15855 2.99582 6.29188 2.65832 6.57522 2.37499C6.84188 2.09166 7.17522 1.94582 7.57522 1.93749C7.97522 1.92916 8.30855 2.06666 8.57522 2.34999L17.3752 11.125C17.4919 11.2417 17.5794 11.3708 17.6377 11.5125C17.6961 11.6542 17.7252 11.8 17.7252 11.95C17.7252 12.1 17.6961 12.2458 17.6377 12.3875C17.5794 12.5292 17.4919 12.6583 17.3752 12.775L8.60022 21.55C8.33355 21.8167 8.00438 21.95 7.61272 21.95C7.22105 21.95 6.88355 21.8083 6.60022 21.525Z' fill='%23F5D9AE'/%3E%3C/svg%3E");
          content: '';
        }
      }
      //&:hover{
      //  a,span{
      //    background-color: $primary;
      //    border-color:$primary;
      //    color: $white;
      //  }
      //}
      &.is-selected{
        a,span{
          background-color: $primary;
          border-color:$primary;
          color: $white;
          &:after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.60022 21.525C6.33355 21.2417 6.19605 20.9083 6.18772 20.525C6.17938 20.1417 6.31688 19.8083 6.60022 19.525L14.1752 11.95L6.60022 4.37499C6.33355 4.10832 6.19188 3.77916 6.17522 3.38749C6.15855 2.99582 6.29188 2.65832 6.57522 2.37499C6.84188 2.09166 7.17522 1.94582 7.57522 1.93749C7.97522 1.92916 8.30855 2.06666 8.57522 2.34999L17.3752 11.125C17.4919 11.2417 17.5794 11.3708 17.6377 11.5125C17.6961 11.6542 17.7252 11.8 17.7252 11.95C17.7252 12.1 17.6961 12.2458 17.6377 12.3875C17.5794 12.5292 17.4919 12.6583 17.3752 12.775L8.60022 21.55C8.33355 21.8167 8.00438 21.95 7.61272 21.95C7.22105 21.95 6.88355 21.8083 6.60022 21.525Z' fill='%23ED5D2A'/%3E%3C/svg%3E");
          }
        }
      }
      &.is-disabled{
        a,span{
          background: #F7EAD8;
          border: 2px solid #E7CFBF;
          color: #E7CFBF;
          &:after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.60022 21.525C6.33355 21.2417 6.19605 20.9083 6.18772 20.525C6.17938 20.1417 6.31688 19.8083 6.60022 19.525L14.1752 11.95L6.60022 4.37499C6.33355 4.10832 6.19188 3.77916 6.17522 3.38749C6.15855 2.99582 6.29188 2.65832 6.57522 2.37499C6.84188 2.09166 7.17522 1.94582 7.57522 1.93749C7.97522 1.92916 8.30855 2.06666 8.57522 2.34999L17.3752 11.125C17.4919 11.2417 17.5794 11.3708 17.6377 11.5125C17.6961 11.6542 17.7252 11.8 17.7252 11.95C17.7252 12.1 17.6961 12.2458 17.6377 12.3875C17.5794 12.5292 17.4919 12.6583 17.3752 12.775L8.60022 21.55C8.33355 21.8167 8.00438 21.95 7.61272 21.95C7.22105 21.95 6.88355 21.8083 6.60022 21.525Z' fill='%23E7CFBF'/%3E%3C/svg%3E");
          }
        }
      }
    }
    &.col4{
      .tab__item{
        width: calc(25% - 63rem);
        a,span{
          &:after{
            right: -55rem;
          }
        }
      }
    }
  }
}